body {
	overflow: hidden;
}

/*toolbar*/
#menu {
	background-color: rgba(34,31,28,1);
	width:100%;
	height:80px;
	position: fixed;
	margin-top:0px;
	z-index:199;
	box-shadow: 0px 1px 5px #000;
}

#container {
	width:70%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	display: block;
		
}

#logo {
	display: inline;
	height:100%;
	position:relative;
	cursor: pointer;
}

#logo:hover {
	border-bottom: 2px white solid;
}

/* Language Select */
.lang_button {
	float:right;
	width:40px;
	height:32px;
	margin-top:48px;
	position:relative;
	display:inline-block;
	cursor: pointer;
}

.lang {
	font-family: "Roboto Light";
	font-size:18px;
	color:white;
	width:100%;
	margin: 8px;
	margin-top: 5px;
}

.lang_button:hover {
	background-color: #ac8a61;	
}

.lang_button:hover .languages {
	display: block;
}

.languages {
	display:none;
	position:absolute;
	right:0;
	top:32px;
	background-color:#fff;
	min-width:150px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	z-index:200;
}

.languages a {
	font-family: "Roboto Regular";
	display:block;
	padding:5px;
	text-decoration:none;
	color:black;
}
.languages a:hover {
	background-color: #ccc;
}

.languages a:active {
	color:#555;
}

/*slide show*/

#slideshow {
	margin-top:-10%;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	opacity: 0.05;
	z-index: 0;
}

/*Home*/
#logo_main {
	width:600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top:100px;
	z-index:3;
}

.home {
	max-width: 100%;
	height:1000px;
	background-color: #1e1c1a;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-left:auto;
	margin-right:auto;
}

/*main panel*/
#main_panel {
	position:absolute;
	margin:auto;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:500px;
	height:600px;
	background-color: rgba(34,31,28,1);
	box-shadow: 0px 0px 5px 1px #000;
	overflow: hidden;
}

.panel_title {
	width:250px;
	height:130px;
	border-bottom:1px white solid;
	margin-left:auto;
	margin-right:auto;
}

.panel_title img {
	width:400px;
	margin-left:-75px;
	
}

.panel_body {
	width:100%;
}

.panel_body .description {
	text-align: center;
	width:446px;
	margin-left:27px;
	color:white;
	font-family: "Roboto Light";
	font-size:12pt;
}

.panel_body #login, #signup, #userdata input, #signupdata input {
	position:relative;
	width:480px;
	left:10px;
	height:50px;
	border-radius: 3px;
	border: 1px #fff solid;
	transition: all 0.5s;
	z-index: 2;
	top:20px;
}

.panel_body #login, .panel_body #signup {
	cursor:pointer;
}

.panel_body .description_title {
	color:white;
	text-align: center;
	padding-top:20px;
	width:100%;
	font-family: "Roboto Regular";
	font-size:16pt;
	position:relative;
}

.panel_body .insc_t {
	color:white;
	font-family: "Roboto Italic";
	text-align: left;
	margin-top:50px;
	margin-left:10px;
}

.panel_body .insc {
	width:300px;
	background-color: white;
	height:1px;
	margin-top:-25px;
	margin-left:190px;
}

.panel_body div p {
	color:white;
	width:100%;
	text-align: center;
	font-family: "Roboto Regular";
	
}

.panel_body #signup:hover {
	background-color:rgb(57,51,45);
}
.panel_body #login:hover {
	background-color:rgb(57,51,45);
}

.ps_insc {
	color:white;
	font-family:"Roboto Light";
	font-size:10pt;
	text-align:center;
	width:100%;
	position:absolute;
	top:540px;
}

/*login panel*/
#userdata input, #signupdata input {
	font-family: "Roboto Regular";
	background-color: rgba(34,31,28,1);
	color:white;
	padding-left:20px;
	padding-right:20px;
	font-size:12pt;
	margin-top:20px;
	width:440px;
}

#userdata #login_button {
	font-family: "Roboto Regular";
	width:230px;
	cursor: pointer;
	margin-left:252px;
	margin-top: 60px;
}

#userdata #login_button:hover {
	background-color: rgb(57,51,45);
}

#error {
	color:#9b121b;
	font-size:11pt;
	width:460px;
	margin-left: 20px;
	font-family: "Roboto Italic";
	margin-top:-100px;
	display: none;
}


#login_panel div , #signup_panel div {
	width:230px;
	border: 1px white solid;
	border-radius: 3px;
	height:50px;
	cursor:pointer;
	margin-left:10px;
	margin-top:-30px;
	transition: all 0.5s;
}

#login_panel div:hover, #signup_panel div:hover {
	background-color: rgb(57,51,45);
}

/* signup */
#signupdata input {
	margin-top:10px;
}

#signupdata #signup_button {
	font-family: "Roboto Regular";
	width:230px;
	cursor: pointer;
	margin-left:252px;
	margin-top: 10px;
}